[submodule "vim-files/vim/bundle/Vundle.vim"]
	path = vim-files/vim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
[submodule "vim-files/fonts/consolas"]
	path = vim-files/fonts/consolas
	url = https://github.com/runsisi/consolas-font-for-powerline
[submodule "utils/ag/src"]
	path = utils/ag/src
	url = git://github.com/ggreer/the_silver_searcher.git
[submodule "utils/sack"]
	path = utils/sack
	url = https://github.com/sampson-chen/sack
[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "vim-files/vim/bundle/bitbake"]
	path = vim-files/vim/bundle/bitbake
	url = https://github.com/kergoth/vim-bitbake
