[submodule "lib/tmux-test"]
	path = lib/tmux-test
	url = https://github.com/tmux-plugins/tmux-test.git
[submodule "tmux/plugins/tmux-resurrect"]
	path = tmux/plugins/tmux-resurrect
	url = https://git::@github.com/tmux-plugins/tmux-resurrect
